header.header
    .header__upper
        .header__city
            select.header__city-select
                option(value="msk") Москва
                option(value="spb") Санкт-Петербург
        .header__controls
            button(type="button").header__btn Оформить заявку
            button(type="button").header__login
