-var navLinks = [{name: 'О школе', link: '#'}, {name: 'Преподаватели', link: '#'}, {name: 'Студенты', link: '#'}, {name: 'Расписания', link: '#'}, {name: 'Программы', link: '#'}, {name: 'Галерея', link: '#'}, {name: 'Региональная политика', link: '#'}]

header.header
    .header__upper
        .header__city
            select.select
                option(value="msk") Москва
                option(value="spb") Санкт-Петербург
        .header__controls
            button(type="button").header__btn Оформить заявку
            button(type="button").header__login.js-form-opener
    //- .header__bottom
    //-     .header__logo
    //-         a(href="#" target="_self").header__logo-link
    //-             img(src="static/images/content/logo.svg" width="" height="" alt="Энотрия").header__logo-img
    //-     nav.header__nav.nav
    //-         ul.nav__list
    //-             for i in navLinks
    //-                 li.nav__item
    //-                     a(href="" +i.link target="_self").nav__link=i.name
    //-         .nav__search
    //-             input(type="search" name="search" id="search").nav__search-input
    //-             button(type="submit").nav__search-submit
