.popup-create
    .popup-create__wrapper
        button(type="button").popup-create__closer
        form(method="post" action="/" name="create-password").create.js-create-form
            h3.create__title Восстановление пароля

            p.create__description Введите новый пароль
            ul.create__list
                li.create__item.create__item--second
                    label(for="create-new-pass").create__label Новый пароль
                    input(type="password" name="create-new-pass" id="create-new-pass").create__input
                    span.create__error.create__error--pass
                    button(type="button").create__eye
                li.create__item.create__item--second
                    label(for="repeat-new-pass").create__label Повторите пароль
                    input(type="password" name="repeat-new-pass" id="repeat-new-pass").create__input
                    span.create__error.create__error--check
                    button(type="button").create__eye
            button(type="submit").create__btn.js-set-password Сменить пароль
