.b-contacts {
    &__join {
        margin: 0 auto;
        width: 100%;
        max-width: 300px;
        margin-top: 40px;

        @include flex-setting(column, flex-start, center);
        padding: 20px 10px;
        text-decoration: none;

        border: 1px solid $black;
        transition: 0.4s linear;

        cursor: pointer;
        outline: none;

        &-title {
            @include font-setting($roboto-font, 24px, 1.222, 400, #000);
            text-align: center;
            padding-bottom: 80px;
            margin-bottom: 40px;
            position: relative;
            transition: 0.4s linear;

            &::after {
                position: absolute;
                content: '';

                width: 1px;
                height: 40px;

                background-color: #E6007E;

                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                transition: 0.4s linear;
            }
        }

        &-logo {
            max-width: 200px;
            height: auto;
            margin-left: 16px;
            object-fit: contain;
        }

        &:hover,
        &:active {
            border-color: #E6007E;
            background-color: #E6007E;

            transition: 0.4s linear;

            .b-contacts__join-title {
                color: $white;
                transition: 0.4s linear;

                &::after {
                    background-color: $white;
                    transition: 0.4s linear;
                }
            }
        }
    }
}

@include min-screen(730px) {
    .b-contacts {
        &__join {
            margin-top: 48px;
            max-width: 690px;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 26px 40px;

            &-title {
                font-size: 40px;
                line-height: 56px;
                padding-bottom: 0;
                margin-bottom: 0;

                &::after {
                    width: 40px;
                    height: 1px;
                    bottom: auto;
                    top: 50%;
                    left: auto;
                    right: -1rem;
                    transform: translateX(100%) translateY(-50%);
                }
            }

            &-logo {
                margin-left: 0;
            }
        }
    }
}

@include min-screen(991px) {
    .b-contacts {
        &__join {
            max-width: 951px;

            &-title {
                &::after {
                    width: 200px;
                    right: -64px;
                }
            }

            &-logo {
                max-width: 360px;
                margin-left: 0;
            }
        }
    }
}

@include min-screen(1200px) {
    .b-contacts {
        &__join {
            border-width: 2px;
            //box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
            max-width: 1160px;

            &-title {
                font-size: 48px;

                &::after {
                    width: 220px;
                    right: -48px;
                }
            }
        }
    }
}
