.intro-art {
    width: 100%;

    @include flex-setting(column, flex-start, center);

    position: relative;

    margin-bottom: 40px;

    &__frame {
        width: 100%;
        height: 0;
        padding-bottom: 72.22222222222221%;
        position: relative;

        &-image {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;

            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__info {
        position: absolute;
        bottom: 68px;
        left: 20px;
        right: 20px;

        width: calc(100% - 40px);
        @include flex-setting(column, center, flex-start);
    }

    &__title {
        @include font-setting($helve-font, 30px, 36px, 700, $white);
        margin-bottom: 10px;
    }

    &__description {
        @include font-setting($helve-font, 15px, 18px, 550, $white);
        text-align: left;
    }
}

@include min-screen(720px) {
    .intro-art {
        &__frame {
            padding-bottom: 36.11111111111111%;
        }
    }
}

@include min-screen(1280px) {
    .intro-art {
        margin-bottom: 100px;

        &__frame {
            padding-bottom: 31.185944363103953%;
        }

        &__info {
            bottom: 155px;
            --wrapWidth: calc(100% - 1160px);
            left: calc((var(--wrapWidth) / 2));
            right: calc((var(--wrapWidth) / 2));

            width: 100%;
            max-width: 1160px;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        &__title {
            font-size: 60px;
            line-height: 72px;
            letter-spacing: -0.03em;
            margin-bottom: 0;
        }

        &__description {
            max-width: 327px;
            font-size: 18px;
            line-height: 23px;
            letter-spacing: -0.01em;
        }
    }
}
