include ../helpers/mixins
block variables

doctype html
html(lang="ru-RU")
    head
        meta(charset="utf-8")
        title #{title}
        <!--[if IE]>
        meta(http-equiv='X-UA-Compatible', content="IE = edge")
        <![endif]-->
        meta(name="viewport" content="width=device-width,initial-scale=1")
        meta(name="keywords" content="")
        link(rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous")
        link(rel="stylesheet" type='text/css' href="static/css/styles.css")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet")

    body.body
        main.main
            // Art Gallery
            section.gallery-art
                .gallery-art__wrapper
                    .gallery-art__head 
                        h3.gallery-art__name Вид на дачное крыльцо, Снегири
                        b.gallery-art__author Светлана Шуваева
                        span.gallery-art__date 2017 г.
                    .gallery-art__slider.swiper-gallery-container-2
                        button(type="button").gallery-prev
                        .swiper-wrapper
                            .gallery-art__slide(data-author="").swiper-slide
                                picture.gallery-art__frame
                                    source(media="(min-width: 1366px)" srcset="static/images/content/gal-slider-1-lg.webp" type="image/webp")
                                    source(media="(min-width: 1366px)" srcset="static/images/content/gal-slider-1-lg.jpg")
                                    source(srcset="static/images/content/gal-slide-1.webp" type="image/webp")
                                    img(src="static/images/content/gal-slide-1.jpg" alt="author-name").gallery-art__frame-image
                                span.gallery-art__slide-nr 1/2
                            .gallery-art__slide(data-author="").swiper-slide
                                picture.gallery-art__frame
                                    source(media="(min-width: 1366px)" srcset="static/images/content/gal-slider-1-lg.webp" type="image/webp")
                                    source(media="(min-width: 1366px)" srcset="static/images/content/gal-slider-1-lg.jpg")
                                    source(srcset="static/images/content/gal-slide-1.webp" type="image/webp")
                                    img(src="static/images/content/gal-slide-1.jpg" alt="author-name").gallery-art__frame-image
                                span.gallery-art__slide-nr 2/2
                            .gallery-art__slide(data-author="").swiper-slide
                                picture.gallery-art__frame
                                    source(media="(min-width: 1366px)" srcset="static/images/content/gal-slider-1-lg.webp" type="image/webp")
                                    source(media="(min-width: 1366px)" srcset="static/images/content/gal-slider-1-lg.jpg")
                                    source(srcset="static/images/content/gal-slide-1.webp" type="image/webp")
                                    img(src="static/images/content/gal-slide-1.jpg" alt="author-name").gallery-art__frame-image
                                span.gallery-art__slide-nr 1/2
                            .gallery-art__slide(data-author="").swiper-slide
                                picture.gallery-art__frame
                                    source(media="(min-width: 1366px)" srcset="static/images/content/gal-slider-1-lg.webp" type="image/webp")
                                    source(media="(min-width: 1366px)" srcset="static/images/content/gal-slider-1-lg.jpg")
                                    source(srcset="static/images/content/gal-slide-1.webp" type="image/webp")
                                    img(src="static/images/content/gal-slide-1.jpg" alt="author-name").gallery-art__frame-image
                                span.gallery-art__slide-nr 2/2
                            .gallery-art__slide(data-author="").swiper-slide
                                picture.gallery-art__frame
                                    source(media="(min-width: 1366px)" srcset="static/images/content/gal-slider-1-lg.webp" type="image/webp")
                                    source(media="(min-width: 1366px)" srcset="static/images/content/gal-slider-1-lg.jpg")
                                    source(srcset="static/images/content/gal-slide-1.webp" type="image/webp")
                                    img(src="static/images/content/gal-slide-1.jpg" alt="author-name").gallery-art__frame-image
                                span.gallery-art__slide-nr 1/2
                            .gallery-art__slide(data-author="").swiper-slide
                                picture.gallery-art__frame
                                    source(media="(min-width: 1366px)" srcset="static/images/content/gal-slider-1-lg.webp" type="image/webp")
                                    source(media="(min-width: 1366px)" srcset="static/images/content/gal-slider-1-lg.jpg")
                                    source(srcset="static/images/content/gal-slide-1.webp" type="image/webp")
                                    img(src="static/images/content/gal-slide-1.jpg" alt="author-name").gallery-art__frame-image
                                span.gallery-art__slide-nr 2/2
                            .gallery-art__slide(data-author="").swiper-slide
                                picture.gallery-art__frame
                                    source(media="(min-width: 1366px)" srcset="static/images/content/gal-slider-1-lg.webp" type="image/webp")
                                    source(media="(min-width: 1366px)" srcset="static/images/content/gal-slider-1-lg.jpg")
                                    source(srcset="static/images/content/gal-slide-1.webp" type="image/webp")
                                    img(src="static/images/content/gal-slide-1.jpg" alt="author-name").gallery-art__frame-image
                                span.gallery-art__slide-nr 1/2
                            .gallery-art__slide(data-author="").swiper-slide
                                picture.gallery-art__frame
                                    source(media="(min-width: 1366px)" srcset="static/images/content/gal-slider-1-lg.webp" type="image/webp")
                                    source(media="(min-width: 1366px)" srcset="static/images/content/gal-slider-1-lg.jpg")
                                    source(srcset="static/images/content/gal-slide-1.webp" type="image/webp")
                                    img(src="static/images/content/gal-slide-1.jpg" alt="author-name").gallery-art__frame-image
                                span.gallery-art__slide-nr 2/2
                        .swiper-pagination
                        button(type="button").gallery-next
                    ul.gallery-art__bottom
                        li.gallery-art__bottom-item
                            p.gallery-art__description Для работ Сергея характерна объемная реальность, которая с помощью объектива трансформируется в плоскостной коллаж, а модели смешиваются с фоном, буквально растворяясь в нем, и становятся неотъемлемой частью всей композиции.
                            p.gallery-art__description Серия работ Сергея Сапожникова, входящая в проект Saturnalia, специально создана на месте, в Грузии. Это архитектурно-пластические интервенции в природную среду, запечатленные на фотографиях. 
                        li.gallery-art__bottom-item
                            b.gallery-art__bottom-name Техника
                            p.gallery-art__details Деревянные планшеты, холст, смешанная техника
                        li.gallery-art__bottom-item
                            b.gallery-art__bottom-name Размер
                            p.gallery-art__details 80х240 см (4 части, 80х60 см каждая)
                .gallery-art__showroom
                    h3.gallery-art__subtitle Фото в интерьере офиса Simple
                    ul.gallery-art__list
                        li.gallery-art__item
                            picture.gallery-art__frame
                                source(media="(min-width: 1366px)" srcset="static/images/content/gal-simple-image-1.webp" type="image/webp")
                                source(media="(min-width: 1366px)" srcset="static/images/content/gal-simple-image-1.jpg" type="image/webp")
                                source(srcset="static/images/content/gal-simple-image-1.webp" type="image/webp")
                                img(src="static/images/content/gal-simple-image-1.jpg" alt="gal-simple-image").gallery-art__frame-image
                        li.gallery-art__item
                            picture.gallery-art__frame
                                source(media="(min-width: 1366px)" srcset="static/images/content/gal-simple-image-2.webp" type="image/webp")
                                source(media="(min-width: 1366px)" srcset="static/images/content/gal-simple-image-2.jpg" type="image/webp")
                                source(srcset="static/images/content/gal-simple-image-2.webp" type="image/webp")
                                img(src="static/images/content/gal-simple-image-2.jpg" alt="gal-simple-image").gallery-art__frame-image
                        li.gallery-art__item
                            picture.gallery-art__frame
                                source(media="(min-width: 1366px)" srcset="static/images/content/gal-simple-image-3.webp" type="image/webp")
                                source(media="(min-width: 1366px)" srcset="static/images/content/gal-simple-image-3.jpg" type="image/webp")
                                source(srcset="static/images/content/gal-simple-image-3.webp" type="image/webp")
                                img(src="static/images/content/gal-simple-image-3.jpg" alt="gal-simple-image").gallery-art__frame-image
                    a(href="art.html" target="_self").gallery-art__return Вернуться в галерею
        script(src="static/js/vendor/jquery-3.3.1.min.js")
        script(src="static/js/main.js")
        script(src="https://unpkg.com/swiper@7/swiper-bundle.min.js")
        script(src="static/js/slider.js")
        block script
