include ../helpers/mixins
block variables

doctype html
html(lang="ru-RU")
	head
		meta(charset="utf-8")
		title #{title}
		<!--[if IE]>
		meta(http-equiv='X-UA-Compatible', content="IE = edge")
		<![endif]-->
		meta(name="viewport" content="width=device-width,initial-scale=1")
		meta(name="keywords" content="")
		link(rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css")
		link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous")
		link(rel="stylesheet" type='text/css' href="static/css/styles.css")
		link(rel="preconnect" href="https://fonts.googleapis.com")
		link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
		link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet")

	body.body
		//- a(href="partner-network.html" target="_self").b-contacts__join
		//- 	h3.b-contacts__join-title Партнёрская сеть
		//- 	img(src="static/images/content/ww-logo.png" alt="Wine & Whiskey logo").b-contacts__join-logo
		//- a(href="art.html" target="_self") Страница ART
		// Slider
		.b-cards-slider
			.b-cards-slider__wrapper
				.swiper-wrapper
					+cardItem('#', 'banner-1.jpg', 'Текст заголовка 1')
					+cardItem('#', 'banner-2.jpg', 'Текст заголовка 2')
					+cardItem('#', 'banner-3.jpg', 'Текст заголовка 3')
					+cardItem('#', 'banner-4.jpg', 'Текст заголовка 4')
					+cardItem('#', 'banner-5.jpg', 'Текст заголовка 1')
					+cardItem('#', 'banner-6.jpg', 'Текст заголовка 2')
				.b-cards-slider__navigation
					button(type="button").b-cards-slider__prev
					button(type="button").b-cards-slider__next
					
		script(src="static/js/vendor/jquery-3.3.1.min.js")
		script(src="https://unpkg.com/swiper@8/swiper-bundle.min.js")
		script(src="static/js/main.js")
		script(src="static/js/b-card.js")
		block script
