include ../helpers/mixins
block variables

doctype html
html(lang="ru-RU")
	head
		meta(charset="utf-8")
		title #{title}
		<!--[if IE]>
		meta(http-equiv='X-UA-Compatible', content="IE = edge")
		<![endif]-->
		meta(name="viewport" content="width=device-width,initial-scale=1")
		meta(name="keywords" content="")
		link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous")
		link(rel="stylesheet" type='text/css' href="static/css/styles.css")
		link(rel="preconnect" href="https://fonts.googleapis.com")
		link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
		link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet")

	body.body
		a(href="partner-network.html" target="_self").b-contacts__join
			h3.b-contacts__join-title Партнёрская сеть
			img(src="static/images/content/ww-logo.png" alt="Wine & Whiskey logo").b-contacts__join-logo
		a(href="art.html" target="_self") Страница ART
		script(src="static/js/vendor/jquery-3.3.1.min.js")
		script(src="static/js/main.js")
		block script
