extends layout/main

block variables
	-var title = 'MAD Blog'
	-var blogFilter = [{name: 'Все записи', link: '#', type: 'active filter-all'}, {name: 'Продукты', link: '#', type: 'filter-products'}, {name: 'Гайды', link: '#', type: 'filter-guides'}, {name: 'Кейсы', link: '#', type: 'filter-cases'}, {name: 'Колонка mad!', link: '#', type: 'filter-mad'}, {name: 'Дизайн', link: '#', type: 'filter-design'}, {name: 'Файлы', link: '#', type: 'filter-downloads'}]
