// Colors
$white: #fff;
$black: #010101;
$bordo: #60002B;
$pink: #E6007E;
$light-bordo: #72273F;
$gray: #4D4D4F;
$olive: #D9D1C7;
$light-gray: #808080;
$blue: #0038FF;
$eno-red: #CD4447;
$eno-green: #1CC05E;
$eno-gray: #CED6D9;
$eno-lightgray: #EDF1F2;
$eno-black: #303233;
// Sizes
$base-font-size: 16;

$tablet: 768px;
$large: 1024px;
$desktop: 1280px;

$content: 1000px;

// Fonts
$primary-font: 'Mont', sans-serif;
$root-font: 'PT Root UI', sans-serif;
$roboto-cond: 'Roboto Condensed', sans-serif;

$helve-font: 'HelveticaNeueCyr', sans-serif;
$roboto-font: 'Roboto', sans-serif;

$gra-font: 'Graphik LCG';

$text-black: $black;
$text-white: $white;
$cubic: cubic-bezier(0.4, 0.01, 0.165, 0.99);
